{% extends '::base.html.twig' %}

{% block content %}
    <h1>Artwork creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('home') }}">Back to home</a>
        </li>
    </ul>
{% endblock %}
