@import url('https://fonts.googleapis.com/css?family=Raleway:600,400,300,200,200italic,100');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway';
}

hr {
    border-color: #d43f3a;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
}

p {
    font-size: 14px;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.menu .navbar-brand{
    background: url('../images/logo.png') center / contain no-repeat;
    width: 200px;
}

.navbar {
    margin-bottom: 0;
}
/* end navbar */

/*Modal*/
#login {
    margin-top: 100px;
    padding-top: 50px;
    background-color: #F7F7F7;
    width: 500px;
}

@media screen and (min-width: 400px) and (max-width: 640px) {
    #login  {
        width: 100%;
    }
}

#login .form-wrap {
    width: 70%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

#login .close{
    position: absolute;
    right: 10px;
    top: -40px;
}
/*End modal*/

header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../images/fond.jpg');
    background-attachment: fixed;
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}


.form-horizontal{
    display: flex;
    width: 300px;
    margin: 0 auto;
}

.bg-primary {
    background-color: #69F0AE;
}

/* Temoignage */
.temoignage .container {
    position: relative;
    margin: auto;
    top: 0;
    margin-bottom: 14px;
    margin-top: 14px;
    left: 0;
    right: 0;
    max-width: 500px;
    height: 150px;
    overflow: hidden;
    background: #fff;
}

.fa-quote-left{
    position: absolute;
    padding: 20px;
    top: -10px;
    margin-left: -250px;
    font-size: 30px;
    color: #50e499;
}

.fa-quote-right{
    position:absolute;
    padding:20px;
    top:80px;
    left:430px;
    font-size:30px;
    color:#50e499;
}

.text-container {
    position: relative;
    left:0px;
    max-width: calc(500px * 4);
    font-size: 0;
    transition: left 0.5s ease-in-out;
}

.text {
    max-width: 400px;
    height: auto;
    color: #333;
    text-align: center;
    line-height: 20px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    margin-left: 40px;
    padding-top: 40px;
}

/*Deuxième section*/

.bg-secondary .container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-secondary h2 {
    padding-top: 30px;
}

/*Troisième section */

.bg-tertiary {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../images/fond.jpg');
    background-attachment: fixed;
    text-align: center;
    color: white;
}

.bg-tertiary .header-content {
    position: relative;
    text-align: center;
    padding: 50px 15px 50px;
    width: 100%;
}

/* Section latest */

#latest * {
    z-index: 2;
}

.latest{
    margin: 0 0 30px;
}

.section-subheading{
    margin-bottom: 50px;
}

.box-link{
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.box-hover{
    background: rgba(105, 240, 174, 0.59);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

.box-hover:hover{
    opacity: 1;
}

.box-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

.box-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}

.box-caption h4{
    color: #222;
}
/* Fin section latest */

/* Footer : Contact */
.contact {
    background-color: #222222;
}

.contact .container {
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact .form {
    max-width:420px;
    margin:50px auto;
}

.feedback-input {
    color:white;
    font-weight:100;
    border-radius: 5px;
    background-color: transparent;
    border:1px solid #69F0AE;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.contact [type="submit"] {
    width: 100%;
    background:#69f0ae;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
}
.contact [type="submit"]:hover { background:#00E676; }

footer {
    padding: 25px 0;
    text-align: center;
}

/* ---------------------------------- Contents ------------------------------------- */

#liste-contents{
    background-image: url('../images/library.jpg');
    background-attachment: fixed;
}

#liste-contents h1{
    padding: 100px 0 70px 0;
}

.title-contents{
    width: 100%;
    height: 100%;

}

.title-contents .fa-book {
    position: absolute;
    top: 50%;
    margin-left: 60px;
}

/* Pagination */
#pagination{
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.pagination{
    padding: 30px 0;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.p .is-active{
    background-color: #2ecc71;
    color: #fff;
}



