{% extends '::base.html.twig' %}

{% block content %}
    <br><br><br><br><br><br>
    <h1> TEST SOCKET CHANNEL STEP 3</h1>

    <script>

        var webSocket = WS.connect("ws://127.0.0.1:8090");

        webSocket.on("socket/connect", function(session){
            //session is an Autobahn JS WAMP session.
            console.log("Successfully Connected!");
        })

        webSocket.on("socket/disconnect", function(error){
            //error provides us with some insight into the disconnection: error.reason and error.code
            console.log("Disconnected for " + error.reason + " with code " + error.code);
        })
    </script>
    <ul>
        <li>
            <a href="{{ path('salon_new') }}">Create a new salon</a>
        </li>
    </ul>
{% endblock %}
