{% extends "::base.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="fos_user_user_show">
        <div id="profile">
            <img src="{{ asset('images/moi.jpg') }}" class="profile-img">
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Modifier <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <div class="profile-text">
                <h1 class="profile-name">{{ user.username }}</h1>
                <span class="profile-title">Description</span>
            </div>
        </div>
    </div>

{% endblock content %}

