body{
    background: #FFF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#login{
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(100,100,100,0.4);
}

#users{
    background-color: #34495e;
    padding: 20px;
    border-right: 1px solid black;
    height: 600px;
}
#users img{
    margin-top: 10px;
    box-shadow: -1px 1px 10px 5px #333;
}
#users h3 {
    color: #FFF;
    border-bottom: 3px solid #FFF;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
#users h4{
    display: inline-block;
}

#messages{
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 8px 0px 40px 1px #000;

}
.message{
    position: relative;
    font-size: 14px;
    margin: 0 auto;
    width: 95%;
    background-color: #eeeeee;
    padding: 10px;
}
#message{
    width: 100%;
}
.bordered{
    border: 1px solid #0f0f0f;
    border-radius: 0;
}

.message .info + p{
    font-size: 12px;
}
.message img{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.message .info{
    display: inline-block;
}
.message .date{
    position: absolute;
    top: 15%; right: 3%;
    font-size: 10px;
    font-family: "Courier New";
}
.message .both{
    clear: both;
}

.space{
    display: block;
    height: 15px;
}
.no-padding{
    padding: 0;
}
.modal-title{
    font-weight: 800;
}
#form > .row{
    border-top: 1px solid black;
    background-color: #1b6d85;
    padding: 10px;
}
#form .input-group{
    margin-left: 15%;
}
.input-group{
    width: 100%;
}