{% extends '::base.html.twig' %}

{% block content %}

    <header id="salon">
        <div class="container">
            <div class="row">
                <div class="salon content-title col-lg-12">
                    <div class="col-md-7">
                        <h1>Titre du salon</h1>
                        <p class="text-muted">Auteur</p>
                        <p><span style="font-size: 22px;"><strong>Description rapide de l'oeuvre, Lorem ipsum dolor sit amet</strong></span></p>
                        <span class="ratings one"/>
                    </div>
                </div>
            </div>
        </div>
    </header>



{% endblock %}